.carousel-image{
    max-height: 70vh;
    width: 100%;
}

.carousel-text-grid{
    min-height: 424px;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: justify;
}

.grid-carousel{
    margin-top: 100px!important;
}

.carousel-text-spacing{
    width: 65%;
    margin: auto;
    line-height: 1.6;
}

.Carousel-indicators-19 {
    display: none;
}

.carousel-text-grid .shop-now{
    background-color: rgb(210, 63, 87)!important;
}

.header-list-component{
    width: 200px;
}
