footer {
  background: #29425f;
  color: white;
  margin-top: 70px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 19%);
}

.footer-logo {
  height: 250px;
  width: 250px;
}

.footer-pad {
  color: #c0d0e3;
}

.footer-quick-links {
  color: #c0d0e3;
  font-size: 2rem;
  text-align: left;
}
.list-unstyled li {
  margin-top: 13px;
}
footer a {
  color: #c0d0e3;
  margin-top: 10px;
  font-size: 14px;
  transition-duration: 0.2s;
  text-decoration: none;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  color: #869bb3;
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
  text-align: right;
}
.headingFooter {
  color: black;
}
.footer-middle {
  padding-top: 2.5em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.footerTeacherLink {
  font-size: 17px;
  margin-bottom: 7px;
  text-decoration: underline;
}

.social-network a {
  background-color: #f9f9f9;
}
@media (max-width: 992px) {
   .footer-pad {
    text-align: center;

    margin-bottom: 3em;
  }
  .footerTeacherLink {
    font-size: 16px !important;
  }
  .list-unstyled li {
    margin-top: 6px;
    letter-spacing: 0px;
    word-spacing: 0px;
  }
  .list-unstyled li a {
    margin-top: 6px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
 
  .list-unstyled li a {
    margin-top: 6px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 12px;
  }
  .list-unstyled li p {
    font-size: 13px;
  }
  .footerTeacherLink {
    font-size: 14px !important;
  }
}
@media (max-width: 517px) {}