/* <<<<<<< HEAD
header {
  background: hsl(212, 39%, 33%);
=======
:root {
  --base-color: hsl(212, 40%, 27%);
}
}
/* header {
  background: var(--base-color);
>>>>>>> b174596c26a8a801cbbe44e7340fd6bbc23209f8
  color: white;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 19%);
} */
.header-contact-popup-button {
  border: none;
  background-color: white;
  color: var(--base-color);
}

.header-logo {
  height: 180px;
  width: 270px;
}

/* .header-right-content {
  padding-right: 30px;
  padding-top: 20px;
}
@media screen and (max-width: 650px) {
  .header-logo {
    height: 180px;
    width: 500px;
  }
  .header-right-content {
    text-align: center;
    padding-right: 0px;
  }
} */

.header-contact-link {
  color: hsl(212, 40%, 27%);
  text-decoration: none;
}

.header-contact-link:hover {
  color: hsl(212, 40%, 27%);
}

.header-nav-link {
  color: "black";
}

.header-nav-link:hover {
  color: "black";
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px !important;
    margin: 1.75rem auto;
  }
}
