:root {
  --base-color: hsl(212, 40%, 27%);
}

header {
  background: var(--base-color);
  color: white;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 19%);
}

.header-contact-popup-button {
  border: none;
  background-color: white;
  color: var(--base-color);
}

.header-logo {
  height: 180px;
  width: 350px;
}

.header-right-content {
  padding-right: 100px;
}

.header-contact-link {
  color: hsl(212, 40%, 27%);
  text-decoration: none;
}

.header-contact-link:hover {
  color: hsl(212, 40%, 27%);
}

.header-nav-link {
  color: "black";
}

.header-nav-link:hover {
  color: "black";
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px !important;
    margin: 1.75rem auto;
  }
}
