:root {
  --carousel-image-width: 600px;
  --carousel-image-height: 415px;
  --carousel-height: 480px;
  --carousel-base-height: 130px;
  --carousel-content-width: 600px;
  --carousel-content-start: 120px;
}

.header-carousel {
  position: relative;
  height: var(--carousel-height);
  /* margin-bottom: 30px; */
  /* z-index: 5; */
}

.header-carousel-content {
  /* position: absolute;
  left: var(--carousel-content-start); */
  /* top: 30px; */
  z-index: 2;
  font-family: "Ubuntu", sans-serif;
  color: var(--base-color);
  /* width: var(--carousel-content-width); */
}

.header-carousel-content h2 {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
}

.header-carousel-image {
  border: 8px solid var(--base-color);
  width: var(--carousel-image-width);
  height: var(--carousel-image-height);
  /* position: absolute; */
  /* right: 120px; */
  /* bottom: calc(var(--carousel-height) - var(--carousel-image-height)); */
  z-index: 5;
}
.headerBtn {
  color: white;
  margin-top: 30px;
  border: 2px solid white;
}
.header-carousel-base {
  width: 100vw;
  height: var(--carousel-base-height);
  background-color: var(--base-color);
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.header-carousel-base p {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

@media screen and (max-width: 1200px) {
  .header-carousel-content h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .headerBtn {
    color: var(--base-color);
    margin-top: 30px;
    border: 2px solid var(--base-color);
  }
  .header-carousel-content h2 {
    font-size: 1.5rem;
  }
  .header-carousel-image {
    height: 250px;
  }
  .header-carousel-base {
    background-color: transparent;
    width: 100%;
    position: initial;
    height: 70px;
  }

  .header-carousel-button {
    position: initial;
    display: grid;
    place-items: center;
    /* /* margin-top: 300px; */
    color: red;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --carousel-height: 420px;
  }
}
@media screen and (max-width: 540px) {
  :root {
    --carousel-height: 460px;
  }
}
@media screen and (max-width: 415px) {
  :root {
    --carousel-height: 520px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --carousel-height: 560px;
  }
  .header-carousel-content h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 280px) {
  :root {
    --carousel-height: 620px;
  }
  .header-carousel-content h2 {
    font-size: 1.5rem;
  }
  .header-carousel-content h2 {
    font-size: 1.4rem;
  }
}
