:root {
  --carousel-image-width: 600px;
  --carousel-image-height: 415px;
  --carousel-height: 480px;
  --carousel-base-height: 130px;
  --carousel-content-width: 600px;
  --carousel-content-start: 120px;
}

.header-carousel {
  position: relative;
  height: var(--carousel-height);
}

.header-carousel-content {
  position: absolute;
  left: var(--carousel-content-start);
  top: 30px;
  z-index: 2;
  font-family: "Ubuntu", sans-serif;
  color: var(--base-color);
  width: var(--carousel-content-width);
}

.header-carousel-content h2 {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.header-carousel-image {
  border: 8px solid var(--base-color);
  width: var(--carousel-image-width);
  height: var(--carousel-image-height);
  position: absolute;
  right: 120px;
  bottom: calc(var(--carousel-height) - var(--carousel-image-height));
  z-index: 2;
}

.header-carousel-base {
  width: 98.5vw;
  height: var(--carousel-base-height);
  background-color: var(--base-color);
  position: absolute;
  bottom: 0;
}

.header-carousel-button {
  position: absolute;
  left: var(--carousel-content-start);
  bottom: calc(var(--carousel-height) - var(--carousel-image-height));
}

.header-carousel-base p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

@media screen and (max-width: 720px) {
  :root {
    --carousel-content-width: 90vw;
  }
  .header-carousel-image {
    display: none;
  }
  .header-carousel-content {
    left: 10px;
  }
}
